@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: radial-gradient(circle, #999aff, #dedeff);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      to bottom,
      #dedeff,
      #999aff
    );
    --foreground: #ffff;
  }
}

html, body {
  height: 100%; 
  margin: 0;  
}


body {
  color: var(--foreground);
  background: var(--background);
  background-size: 200% 200%; /* Increased background size for movement */
  background-position: center;
  animation: scrollGradient 10s linear infinite; /* Infinite scrolling */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .gradient-text {
    @apply font-bold bg-clip-text text-transparent; 
    background-image: linear-gradient(90deg, #9CA4FF, #2D358E 50%, #1D225B); /* Custom CSS gradient */
  }
}
@keyframes scrollGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}