@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: radial-gradient(circle, #dedeff, #999aff);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      to left,
      #dedeff,
      #999aff 
    );
    --foreground: #ffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
